#
#  Copyright (C) 2000-2001 CEA
#
#  This software and supporting documentation were developed by
#  	CEA/DSV/SHFJ
#  	4 place du General Leclerc
#  	91401 Orsay cedex
#  	France
#
#  Executables configuration.
#
#  $Id: //depot/neuron/main/config-app.template#3 $
#

LIBS = @libBuildLine@

